<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Animal Husbandry</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="@Url.Content("favicon.ico")" type="image/x-icon" />
    <link rel="shortcut icon" href="@Url.Content("favicon.ico")" type="image/x-icon" />
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" >
<div class="container">
    <div class="navbar-header">
    </div>
    <div class="navbar-collapse collapse">

        <ul class="menu-main">
            @if (User.Identity.IsAuthenticated)
          { 
        @Html.ActionLink("Animal Husbandry:Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
       <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Сommentaries", "GetNewsBoardPageView", "NewsBoard")</li>
        <!-- <li>@Html.ActionLink("Add new kind of animal", "GetAnimalKindAddingView", "AnimalType")</li>
<li>@Html.ActionLink("Add new animal", "GetAnimalParticularAddingView", "WorkWithAnimalParticular")</li> -->

        <li>@Html.ActionLink("Kinds of animals", "ListOfKindsView", "AnimalType")</li>
        <li>@Html.ActionLink("Own cab", "OwnCabView", "Account")</li>
        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
            }
            else
            {
                @Html.ActionLink("Animal Husbandry:Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Login", "GetAuthorizationView", "Account")</li>
            <li>@Html.ActionLink("Registration", "GetRegistrationView", "Account")</li>
            }
        </ul>
    </div>
</div>


<div class="container body-content">
    @RenderBody()
    <hr/>
    
    <footer id="footer">
        <p>&copy; Rastsvietalov Sergey PI-15-4 @DateTime.UtcNow - Animal Husbandry</p>
        <br>
        Email: rastsvietalovjudo@gmail.com
    </footer>
</div>


@Scripts.Render("~/bundles/jquery")
<!--@Scripts.Render("~/bundles/bootstrap") -->
@RenderSection("scripts", false)
</body>
</html>