
@{
    ViewBag.Title = "AddingNewAnimalParticular";
@model Animal.Common.Models.Bal.AnimalPaticularEditModel

    }

<div class ="form-text">
<h2>Here you can add particular animal</h2>

@using (Html.BeginForm("AddNewAnimalParticular", "AnimalParticular", "Post"))
{
<div class="change-form">

   
        @Html.LabelFor(x => x.AnimalTypes)
    
        @Html.DropDownListFor(x => x.AnimalTypes, new SelectList(Model.AnimalTypes, "AnimalTypeId"))
  
        @Html.LabelFor(x => x.HasCollar)
    
        @Html.TextBoxFor(x => x.HasCollar)
        @Html.ValidationMessageFor(x => x.HasCollar) 
    <br> 
        @Html.LabelFor(x => x.Name)
   
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    <br>
        @Html.LabelFor(x => x.LastWeight)
    
        @Html.TextBoxFor(x => x.LastWeight)
        @Html.ValidationMessageFor(x => x.LastWeight)
    <br>
        @Html.LabelFor(x => x.DescriptionOFAnimals)
  
        @Html.TextBoxFor(x => x.DescriptionOFAnimals)
        @Html.ValidationMessageFor(x => x.DescriptionOFAnimals)
    </div>
    <button type="submit" class="btn btn-primary btn-large btn-block">Add new</button>

}
</div>