
@{
    ViewBag.Title = "AddingNewAnimalParticular";
@model Animal.Common.Models.Bal.AnimalPaticularEditModel

    }

<div class ="form-text">
<h2>Here you can add particular animal</h2>

@using (Html.BeginForm("AddNewAnimalParticular", "AnimalParticular", "Post"))
{
<div class="change-form">

    <div class="editor-label">
        @Html.LabelFor(x => x.AnimalTypes)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.AnimalTypes, new SelectList(Model.AnimalTypes, "AnimalTypeId"))
    </div>

    <div class="editor-label">
        @Html.LabelFor(x => x.HasCollar)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.HasCollar)
        @Html.ValidationMessageFor(x => x.HasCollar)
    </div>
    <br>
    <div class="editor-label">
        @Html.LabelFor(x => x.Name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <br>
    <div class="editor-label">
        @Html.LabelFor(x => x.LastWeight)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.LastWeight)
        @Html.ValidationMessageFor(x => x.LastWeight)
    </div>
    <br>
    <div class="editor-label">
        @Html.LabelFor(x => x.DescriptionOFAnimals)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.DescriptionOFAnimals)
        @Html.ValidationMessageFor(x => x.DescriptionOFAnimals)
    </div>
    <button type="submit" class="btn btn-primary btn-large btn-block">Add New</button>
</div>
}
</div>