@{
    ViewBag.Title = "Authorization";
    @model  Animal.Common.Models.Bal.LoginModel
}

<h2>Login</h2>


@using (Html.BeginForm("Authorization", "Account", "Post"))
{
    <div class="login-form">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
        <br>
        @Html.LabelFor(x => x.Password)
        @Html.TextBoxFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)
        <br>
        <button type="submit" class="btn btn-primary btn-large btn-block">Login!</button>
    </div>
}
