@{
    ViewBag.Title = "Authorization";
    @model  Animal.Common.Models.Bal.LoginModel
}

<h2>Login</h2>


@using (Html.BeginForm("Authorization", "Account", "Post"))
{
    <div class="change-form">
        <div class="editor-label">
            @Html.LabelFor(x => x.Email)
            </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
            </div>
            <br>

            <div class="editor-label">
                @Html.LabelFor(x => x.Password)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-large btn-block">Login!</button>
        </div>
}
