@{
    ViewBag.Title = "Authorization";
    @model  Animal.Common.Models.Bal.LoginModel
}

<h2>Login</h2>


@using (Html.BeginForm("Authorization", "Account", "Post"))
{
    <div class="change-form">
      
        <p align ="center">
            @Html.LabelFor(x => x.Email)    
             <br>
            @Html.TextBoxFor(x => x.Email)
            </p>
        <p align="center">
            @Html.ValidationMessageFor(x => x.Email)
            <p>
            

         <p align="center">
            @Html.LabelFor(x => x.Password)
            <br>
            @Html.TextBoxFor(x => x.Password)
            <p>
                <p align ="center">
            @Html.ValidationMessageFor(x => x.Password)
            </p>
            <br>
            <button type="submit" class="btn btn-primary btn-large btn-block">Login!</button>
        </div>
}
