@using Animal.Common.Models.Data


@{
    ViewBag.Title = "Registration";
    @model  Animal.Common.Models.Bal.UserModel
}


<h2>Register now at Animal Husbandry. It's free!</h2>



<!--
    <div>
        <h3>@FirstName</h3>
        <p>@meaning.LastName</p>
        <p>@meaning.Email</p>
        <p>@meaning.Login</p>
        <p>@meaning.Password</p>
        <p>@meaning.Description</p>
        <p>@meaning.CreatedDate</p>
        <p>@meaning.LastLoginDate</p>         
    -->


    @using (Html.BeginForm("Register", "Account", "Post"))
    {
        <div>
            @Html.LabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName)
            @Html.ValidationMessageFor(x => x.FirstName)
            

            <button type="submit" value="Register">Search</button>
        </div>
    }


