

@{
    ViewBag.Title = "AddingNewKindOfAnimal";
    @model Animal.Common.Models.Bal.AnimalKindModel

}

<h2>Add new kind of animal</h2>

<h2>Here you can add new kinds of animals that you have</h2>

@using (Html.BeginForm("AddNewAnimalKind", "AnimalType", "Post"))
{
    <div class="adding-kind-of-animals-form">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        <br>
        @Html.LabelFor(x => x.PlannedNumberOfAnimals)
        @Html.TextBoxFor(x => x.PlannedNumberOfAnimals)
        @Html.ValidationMessageFor(x => x.PlannedNumberOfAnimals)
        <br>
<<<<<<< HEAD
=======
        <br>
>>>>>>> 5c6223a266323cca412c492bb2117f22307e8c2f
        @Html.LabelFor(x => x.DescriptionOFAnimals)
        @Html.TextBoxFor(x => x.DescriptionOFAnimals)
        @Html.ValidationMessageFor(x => x.DescriptionOFAnimals)
        <br>
        <button type="submit" value="btn btn-primary btn-large btn-block">Add new</button>
    </div>
}



