@model Animal.Common.Models.Bal.AnimalKindModel

@{
    ViewBag.Title = "UpdateInformationAboutKind";
}

<h2>UpdateInformationAboutKind</h2>


@using (Html.BeginForm("UpdateAnimalKind", "AnimalType", "Post"))
{
    <div class="updatingkind-form">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        <br>
        @Html.LabelFor(x => x.PlannedNumberOfAnimals)
        @Html.TextBoxFor(x => x.PlannedNumberOfAnimals)
        @Html.ValidationMessageFor(x => x.PlannedNumberOfAnimals)
        <br>
        @Html.LabelFor(x => x.DescriptionOFAnimals)
        @Html.TextBoxFor(x => x.DescriptionOFAnimals)
        @Html.ValidationMessageFor(x => x.DescriptionOFAnimals)
        <br>
        <button type="submit" value="btn btn-primary btn-large btn-block">Update</button>
    </div>
}
