
@{
    ViewBag.Title = "AddingNewAnimalParticular";
@model Animal.Common.Models.Bal.AnimalParticularModel

    }

<h2>Here you can add particular animal</h2>

@using (Html.BeginForm("AddNewAnimal", "WorkWithAnimalParticular", "Post"))
{

    <div class="adding-animals-form">
        @Html.LabelFor(x => x.HasCollar)
        @Html.TextBoxFor(x => x.HasCollar)
        @Html.ValidationMessageFor(x => x.HasCollar)
        <br>
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        <br>
        @Html.LabelFor(x => x.IsAlive)
        @Html.TextBoxFor(x => x.IsAlive)
        @Html.ValidationMessageFor(x => x.IsAlive)  
        <br>
        @Html.LabelFor(x => x.HeartRhythms)
        @Html.TextBoxFor(x => x.HeartRhythms)
        @Html.ValidationMessageFor(x => x.HeartRhythms)
        <br>
        @Html.LabelFor(x => x.CaloriesBurned)
        @Html.TextBoxFor(x => x.CaloriesBurned)
        @Html.ValidationMessageFor(x => x.CaloriesBurned)
        <br>
        @Html.LabelFor(x => x.BreathingRate)
        @Html.TextBoxFor(x => x.BreathingRate)
        @Html.ValidationMessageFor(x => x.BreathingRate)
        <br>
        @Html.LabelFor(x => x.LastWeight)
        @Html.TextBoxFor(x => x.LastWeight)
        @Html.ValidationMessageFor(x => x.LastWeight)
        <br>
        @Html.LabelFor(x => x.DescriptionOFAnimals)
        @Html.TextBoxFor(x => x.DescriptionOFAnimals)
        @Html.ValidationMessageFor(x => x.DescriptionOFAnimals)
        <button type="submit" value="btn btn-primary btn-large btn-block">Add New</button>
    </div>
}