@{
    ViewBag.Title = "DifferentAnimalsFromKindList";
    @model  IEnumerable<Animal.Common.Models.Bal.AnimalParticularModel>

}
    <div class ="form-text">
    <h2>Here you can see list of particular animals of this type:</h2>


@using (Html.BeginForm("AddNewAnimalParticular", "WorkWithAnimalParticular", "Get"))
{

        <table width="60%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HasCollar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAlive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeartRhythms)
           </th>
            <th>
                @Html.DisplayNameFor(model => model.CaloriesBurned)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.BreathingRate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.LastWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescriptionOFAnimals)
                </th>
                <th>
                    <label>Actions</label>
                </th>

 </tr>

                @foreach (var animalParticular in Model)
                {
                     <tr>
                    <td>
                        @Html.DisplayFor(modelItem => animalParticular.HasCollar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => animalParticular.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => animalParticular.IsAlive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => animalParticular.HeartRhythms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => animalParticular.CaloriesBurned)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => animalParticular.BreathingRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => animalParticular.LastWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => animalParticular.DescriptionOFAnimals)
                    </td>
                    <td>
                        @Html.ActionLink("Update", "Update", new { id = animalParticular.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = animalParticular.Id })
                    </td>
                </tr>
}
        </table>

        <button type="submit" class="btn btn-primary btn-large btn-block">Add new animal</button>
         
}
</div>