

@{
    ViewBag.Title = "UpdateAnimalsParticular";
    @model Animal.Common.Models.Bal.AnimalParticularModel
}
    <div class ="form-text">
<h2>Update information about animal:</h2>

@using (Html.BeginForm("UpdateInformationAboutAnimal", "WorkWithAnimalParticular", "Post"))
{

<div class="change-form">
    <div class="editor-label">
        @Html.LabelFor(x => x.HasCollar)
        </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.HasCollar)
        @Html.ValidationMessageFor(x => x.HasCollar)
        </div>
        <br>
    <div class="editor-label">
        @Html.LabelFor(x => x.Name)
        </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        </div>
        <!-- <br>
            
          @Html.LabelFor(x => x.IsAlive)
          @Html.TextBoxFor(x => x.IsAlive)
          @Html.ValidationMessageFor(x => x.IsAlive)
          <br>
          @Html.LabelFor(x => x.HeartRhythms)
          @Html.TextBoxFor(x => x.HeartRhythms)
          @Html.ValidationMessageFor(x => x.HeartRhythms)
          <br>
          @Html.LabelFor(x => x.CaloriesBurned)
          @Html.TextBoxFor(x => x.CaloriesBurned)
          @Html.ValidationMessageFor(x => x.CaloriesBurned)
          <br>
          @Html.LabelFor(x => x.BreathingRate)
          @Html.TextBoxFor(x => x.BreathingRate)
          @Html.ValidationMessageFor(x => x.BreathingRate)
            -->
        <br>
    <div class="editor-label">
        @Html.LabelFor(x => x.LastWeight)
        </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.LastWeight)
        @Html.ValidationMessageFor(x => x.LastWeight)
        </div>
        <br>
    <div class="editor-label">
        @Html.LabelFor(x => x.DescriptionOFAnimals)
        </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.DescriptionOFAnimals)
        @Html.ValidationMessageFor(x => x.DescriptionOFAnimals)
        </div>
        <button type="submit" value="btn btn-primary btn-large btn-block">Update</button>
    </div>
    }
</div>