@model Animal.Common.Models.Bal.ParticularNewsModel

@{
    ViewBag.Title = "AddNews";
}

<h2>AddNews</h2>

@using (Html.BeginForm("AddNews", "NewsBoard", "Post"))
{

    <div class="change-form">
        <div class="editor-label">
    @Html.LabelFor(x => x.Name)
            </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
            </div>
            <br>
        <div class="editor-label">
            @Html.LabelFor(x => x.Message)
            </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.Message)
            @Html.ValidationMessageFor(x => x.Message)
            </div>
            <br>
            <button type="submit" value="btn btn-primary btn-large btn-block">Add News</button>
        </div>
}