
@{
    ViewBag.Title = "NewsBoardPage";
    @model  IEnumerable<Animal.Common.Models.Bal.ParticularNewsModel>
}

<h2>NewsBoardPage</h2>

@using (Html.BeginForm("GetAddNews", "NewsBoard", "Get"))
{

    <table width="70%" class="news-board">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

        @foreach (var newsParticular in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => newsParticular.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => newsParticular.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => newsParticular.Date)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = newsParticular.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = newsParticular.Id })
                </td>
            </tr>
        }
    </table>

        <button type="submit" class="btn btn-primary btn-large btn-block">Add news</button>

}
