@model Animal.Common.Models.Data.AnimalKindEntity

@{
    ViewBag.Title = "AddingNewKindOfAnimal";

}

<h2>AddingNewKindOfAnimal</h2>

<h2>Here you can add new kinds of animals that you have</h2>

@using (Html.BeginForm("AddNewAnimalKind", "WorkWithAnimalKind", "Post"))
{
    <div class="adding_kind_of_animals">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        <br>
        @Html.LabelFor(x => x.PlannedNumberOfAnimals)
        @Html.TextBoxFor(x => x.PlannedNumberOfAnimals)
        @Html.ValidationMessageFor(x => x.PlannedNumberOfAnimals)
        <br>
        @Html.LabelFor(x => x.CurrentNumberOfAnimals)
        @Html.TextBoxFor(x => x.CurrentNumberOfAnimals)
        @Html.ValidationMessageFor(x => x.CurrentNumberOfAnimals)
        <br>
        @Html.LabelFor(x => x.DescriptionOFAnimals)
        @Html.TextBoxFor(x => x.DescriptionOFAnimals)
        @Html.ValidationMessageFor(x => x.DescriptionOFAnimals)
        <br>
        <button type="submit" value="ListOfAnimalKinds">Add New</button>
    </div>
}

